.FeedCount{
    width: 100%;
    height: 91vh;
    /*border: 1px solid red;*/

}

.postsBox{
    width: 100%;
    height: 700px;
    border: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cbcbcb;

}

.postsBox::-webkit-scrollbar{
    display: none;
}

.addPosts{
    width: 100%;
    height: 95px;
    border: inherit;
}